<div class="talk_send_box">
  <div class="talk_send_more_btn">
    <button #talkSendMoreEle type="button" (click)="onSendMore()" class="label">선택하기</button>
    <ul>
      <li><button type="button">친구추가</button></li>
      <li><button type="button">내보내기</button></li>
      <li>
        <div class="upload_box">
          <input #filesEle id="file_upload" type="file" class="btn_upload" (change)="fileChanges()" required>
          <label for="file_upload" class="btn_file">파일전송</label>
        </div>
      </li>
      <li><button type="button" class="invite_on_btn">대화초대</button></li>
    </ul>
  </div>
  <div class="talk_input">
    <input #textValEle type="text" placeholder="대화를 입력하세요"(keyup.enter)="sendMessage(textValEle.value)" >
    <div class="file_view" *ngIf="this.hasAttachment">
      <p>
        <button type="button" class="file_delete" (click)="fileAttachDelete()">파일 삭제하기</button>
        {{getFileAttachName()}}
      </p>
    </div>
  </div>
  <button (click)="sendMessage(textValEle.value)" type="button" class="talk_send_btn">보내기</button>
</div>
