<!-- metaverse_wrap -->
<div id="metaverse_wrap">
  <div class="metaverse_frame">

    <!-- meta_btn_style -->
    <div class="meta_btn_style topleft">
      <button type="button" class="meta_menu_open_btn" onclick="layerClickOpen('metar_menu');">메뉴 열기</button>
      <button type="button" class="icon_updown_btn">기능 더보기</button>
      <span class="updown_box">
					<button type="button" class="meta_viewpoint_btn">시점 선택</button>
					<button type="button" class="meta_room_move_btn">룸 이동</button>
        <!-- <button type="button" class="meta_mapview_btn">지도 보기</button> -->
					<button type="button" id="chating_friend_list_btn" class="meta_friend_btn">친구 목록</button>
					<button type="button" class="meta_filming_btn">촬영 기능</button>
					<button type="button" class="meta_event_btn on">이벤트</button><!-- 버튼 활성화일 경우 button에 on 추가, 이벤트 : 이벤트가 있는 경우에만 해당 메뉴가 표시됨(클릭시 새창으로  웹페이지 호출) -->
				</span>
    </div>
    <div class="meta_btn_style topright">
      <button type="button" class="studio_go_btn">스튜디오</button>
      <button type="button" class="meta_myhome_open_btn">마이홈</button>
    </div>
    <div class="meta_btn_style bottomleft" style="z-index: 10000">
      <button type="button" id="chating_room_open_btn" class="meta_chat_open_btn">채팅창</button>
    </div>
    <div class="meta_btn_style bottomright">
      <button type="button" class="meta_sound_btn">사운드</button>
      <button type="button" class="meta_mike_btn">마이크</button>
      <button type="button" class="meta_feeling_open_btn">감정표현</button>
    </div>
    <!-- //meta_btn_style -->

    <!-- metar_menu -->
    <div id="metar_menu" class="metar_menu menu_view_open">
      <!-- metar_menu_head -->
      <div class="metar_menu_head">
        <div class="inner">
          <div class="logo"><a href="#"><img src="./assets/public/public_ext_basic/images/metaverse/logo.png" alt="VAIV SQUARE"></a></div>
          <div class="tit">패스트파이브 시청2호점</div>
          <button type="button" class="my_position_btn">현재 내 위치 및 지도 보기</button>
          <button type="button" class="metar_menu_close_btn" onclick="layerClickClose('metar_menu');">메뉴 닫기</button>
        </div>
      </div>
      <!-- //metar_menu_head -->
      <!-- scroll_box -->
      <div class="scroll_box">
        <div class="tab_list">
          <ul>
            <li class="active"><button type="button" data-tab="metar_menu_tab_01">소개</button></li><!-- 맨 처음 .tab_list li 에 active 선언 필요 -->
            <li><button type="button" data-tab="metar_menu_tab_02">주요기능</button></li>
          </ul>
        </div>
        <div class="tabArea">
          <!-- 소개 탭 -->
          <div id="metar_menu_tab_01" class="tab_cont active"><!-- 맨 처음 .tab_cont active 선언 필요 -->
            <!-- metar_menu_info -->
            <div class="metar_menu_info">
              <div class="info_box"></div>
              <div class="info_txt">
                <p>패스트파이브 시청 2호점에 대한 소개글이 들어가는곳입니다. 즉 건물주가 소개글 넣은것과 동일한 내용이 들어갑니다.패스트파이브 시청 2호점에 대한 소개글이 들어가는곳입니다. 즉 건물주가 소개글 넣은것과 동일한 내용이 들어갑니다.패스트파이브 시청 2호점에 대한 소개글이 들어가는곳입니다. 즉 건물주가 소개글 넣은것과 동일한 내용이 들어갑니다.</p>
              </div>
            </div><!-- metar_menu_info -->
          </div>
          <!-- //소개 탭  -->

          <!-- 주요기능 탭 -->
          <div id="metar_menu_tab_02" class="tab_cont">
            <!-- metar_menu_list -->
            <div class="metar_menu_list">
              <ul>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">1:1문의</a></li>
                <li><a href="#">사진갤러리</a></li>
                <li><a href="#">방명록</a></li>
              </ul>
              <ul class="last_box">
                <li><a href="#">출입신청</a></li>
                <li><a href="#">회의실 예약</a></li>
                <li><a href="#">좌석 예약</a></li>
                <li><a href="#">출입내역 확인</a></li>
              </ul>
            </div><!-- //metar_menu_list -->
          </div>
          <!-- //주요기능 탭 -->
        </div><!-- //tabArea -->
      </div><!-- //scroll_box -->

      <!-- metar_menu_footer -->
      <div class="metar_menu_footer">
        <div class="inner">
          <div class="menu_footer_btns left">
            <button type="button" class="meta_out_btn">나가기</button>
          </div>
          <div class="menu_footer_btns right">
            <button type="button" class="meta_conversation_btn">1:1대화 허용</button>
            <button type="button" class="meta_setting_btn" onclick="layerClickClose('metar_menu'); layerClickOpen('meta_setting');">설정</button>
          </div>
        </div>
      </div><!-- //metar_menu_footer -->

    </div>
    <!-- //metar_menu -->


    <!-- meta_setting -->
    <div id="meta_setting" class="metar_menu meta_setting menu_view_open">
      <!-- metar_menu_head -->
      <div class="metar_menu_head">
        <div class="inner">
          <button type="button" class="meta_setting_back_btn" onclick="layerClickClose('meta_setting'); layerClickOpen('metar_menu');">뒤로 가기</button>
          <div class="tit">설정</div>
          <button type="button" class="metar_menu_close_btn" onclick="layerClickClose('meta_setting');">메뉴 닫기</button>
        </div>
      </div>
      <!-- //metar_menu_head -->
      <!-- scroll_box -->
      <div class="scroll_box">
        <!-- metar_menu_list -->
        <div class="metar_menu_list">
          <ul>
            <li><a href="#">이벤트관리</a></li>
            <li><a href="#">영상장비관리</a></li>
            <li><a href="#">부스관리</a></li>
            <li><a href="#">액자관리</a></li>
            <li><a href="#">NPC관리</a></li>
          </ul>
          <!-- 방장만 보이는 기능 -->
          <ul class="last_box">
            <li><a href="#">사용자관리</a></li>
            <li><a href="#">룸정보관리</a></li>
          </ul>
          <!-- //방장만 보이는 기능 -->
        </div><!-- //metar_menu_list -->
      </div><!-- //scroll_box -->

      <!-- metar_menu_footer -->
      <div class="metar_menu_footer">
        <div class="inner">
          <div class="menu_footer_btns left">
            <button type="button" class="meta_out_btn">나가기</button>
          </div>
          <div class="menu_footer_btns right">
            <button type="button" class="meta_conversation_btn">1:1대화 허용</button><!-- 버튼 활성화일 경우 button에 on 추가 -->
            <button type="button" class="meta_setting_btn">설정</button>
          </div>
        </div>
      </div><!-- //metar_menu_footer -->

    </div>
    <!-- //meta_setting -->

    <!-- emoticon_box -->
    <div class="emoticon_box">
      <div class="scroll_x">
        <ul>
          <li><button type="button" class="emoticon_hi"><span>인사</span></button></li>
          <li><button type="button" class="emoticon_happy"><span>행복</span></button></li>
          <li><button type="button" class="emoticon_amazing"><span>놀람</span></button></li>
          <li><button type="button" class="emoticon_laugh"><span>웃음</span></button></li>
          <li><button type="button" class="emoticon_applause"><span>박수</span></button></li>
          <li><button type="button" class="emoticon_despair"><span>좌절</span></button></li>
          <li><button type="button" class="emoticon_angry"><span>화남</span></button></li>
        </ul>
      </div>
    </div>
    <!-- //emoticon_box -->

    <!-- iframe -->
    <div class="chating_widget_chat">
      <iframe id="iframe" title="친구목록" src="/login" allow="microphone; autoplay" allowusermedia="true" style="position:relative !important;height:100% !important;width:100% !important;border:none !important;"></iframe>
    </div>
    <!-- //iframe -->

  </div><!-- //meta_menu_wrap -->
</div>
<!-- //metaverse_wrap -->
