<div class="chating_tab">
  <ul>
    <li ripple #chattingtabEle class="active"><button #frendListEle type="button" data-tab="chating_tab_01" (click)="clickFrandList()">친구목록</button></li><!-- 맨 처음 tab의 li 에 active 선언 필요 -->
    <li ripple #chattingtabEle class=""><button #metaRoomUserListEle type="button" data-tab="chating_tab_02" (click)="clickMetaRoomUserList()">룸이용자</button></li>
  </ul>
  <div class="total">
    <p class="fri">친구 : <strong>4명</strong></p>
    <span class="slash">/</span>
    <p class="tot">총 <strong>6</strong>명</p>
  </div>
</div>
