<div [hidden]="hiddenProp1" style="width: 100%; height: 100%; display: flex; align-content: center; justify-content: center">
  <div style="width: 200px; height: 200px; background-color: #96050b">
    <div>ID를 입력해주세요</div>
    <input type="text" value="c360e08a-ae81-421f-bf40-8f4cc380d790" hint="c360e08a-ae81-421f-bf40-8f4cc380d790" #loginInfo>
    <button type="button" style="background-color: #0B4992" (click)="login(loginInfo.value)">로그인하기</button>
  </div>
</div>
<div [hidden]="hiddenProp2">
  <stream-channel-list></stream-channel-list>
  <stream-channel>
    <stream-channel-header></stream-channel-header>
    <stream-message-list></stream-message-list>
    <stream-notification-list></stream-notification-list>
    <stream-message-input></stream-message-input>
  </stream-channel>

  <ng-template #a let-message="message">
    <app-message [message]="message"></app-message>
  </ng-template>

  <ng-template #b let-channel="channel">
    <app-channel-preview [channel]="channel"></app-channel-preview>
  </ng-template>
  <!--  <ng-template #channelPreviewTemplate let-channel="channel">-->
  <!--    <div-->
  <!--      style="-->
  <!--      padding: 10px;-->
  <!--      background-color: #f1f8e9;-->
  <!--      border-radius: var(&#45;&#45;border-radius-md);-->
  <!--      margin: 10px;-->
  <!--      cursor: pointer;-->
  <!--    "-->
  <!--      (click)="channelService.setAsActiveChannel(channel)"-->
  <!--      (keyup.enter)="channelService.setAsActiveChannel(channel)"-->
  <!--    >-->
  <!--      {{ channel?.data?.name || channel?.data?.id }}-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #messageTemplate-->
  <!--    let-message="message"-->
  <!--    let-isLastSentMessage="isLastSentMessage"-->
  <!--    let-enabledMessageActions="enabledMessageActions"-->
  <!--    let-mode="mode"-->
  <!--  >-->
  <!--    <div>-->
  <!--      <stream-message-->
  <!--        style="-->
  <!--        &#45;&#45;grey-whisper: #c8e6c9;-->
  <!--        &#45;&#45;white-snow: #f1f8e9;-->
  <!--        &#45;&#45;primary-color: #689f38;-->
  <!--      "-->
  <!--        [message]="message"-->
  <!--        [isLastSentMessage]="isLastSentMessage"-->
  <!--        [enabledMessageActions]="enabledMessageActions"-->
  <!--        [mode]="mode"-->
  <!--      ></stream-message>-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #customMessageInputTemplate-->
  <!--    let-message="message"-->
  <!--    let-isFileUploadEnabled="isFileUploadEnabled"-->
  <!--    let-areMentionsEnabled="areMentionsEnabled"-->
  <!--    let-mentionScope="mentionScope"-->
  <!--    let-mode="mode"-->
  <!--    let-isMultipleFileUploadEnabled="isMultipleFileUploadEnabled"-->
  <!--    let-messageUpdateHandler="messageUpdateHandler"-->
  <!--    let-sendMessage$="sendMessage$"-->
  <!--  >-->
  <!--    <stream-message-input-->
  <!--      style="&#45;&#45;grey-whisper: rgba(165, 214, 167, 0.4); &#45;&#45;primary-color: #8bc34a"-->
  <!--      [message]="message"-->
  <!--      [isFileUploadEnabled]="isFileUploadEnabled"-->
  <!--      [areMentionsEnabled]="areMentionsEnabled"-->
  <!--      [mentionScope]="mentionScope"-->
  <!--      [mode]="mode"-->
  <!--      [isMultipleFileUploadEnabled]="isMultipleFileUploadEnabled"-->
  <!--      (messageUpdate)="messageUpdateHandler ? messageUpdateHandler() : null"-->
  <!--      [sendMessage$]="sendMessage$"-->
  <!--    ></stream-message-input>-->
  <!--  </ng-template>-->

  <!--  <ng-template #mentionTemplate let-user="user">-->
  <!--  <span style="color: #7cb342; font-weight: bold">{{-->
  <!--    user?.id || user?.name-->
  <!--    }}</span>-->
  <!--  </ng-template>-->

  <!--  <ng-template #typingIndicator let-usersTyping$="usersTyping$">-->
  <!--    <div-->
  <!--      style="color: #7cb342"-->
  <!--      *ngIf="$any(usersTyping$ | async)?.length"-->
  <!--      class="str-chat__typing-indicator str-chat__typing-indicator&#45;&#45;typing"-->
  <!--    >-->
  <!--      Currently typing...&nbsp;-->
  <!--      &lt;!&ndash;eslint-disable-next-line @angular-eslint/template/use-track-by-function&ndash;&gt;-->
  <!--      <span *ngFor="let user of usersTyping$ | async">{{-->
  <!--        user.name || user.id-->
  <!--        }}</span>-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <!--  <ng-template #mentionAutocompleteItemTemplate let-item="item">-->
  <!--    <div style="color: #7cb342">-->
  <!--      {{ item.autocompleteLabel }} - {{ item.role }}-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <!--  <ng-template #commandAutocompleteItemTemplate let-item="item">-->
  <!--    <div style="color: #7cb342">-->
  <!--      {{ item.autocompleteLabel | uppercase }} ({{ item.description }})-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <!--  <ng-template #channelActionsTemplate let-channel="channel">-->
  <!--    <button-->
  <!--      (click)="inviteClicked(channel)"-->
  <!--      style="-->
  <!--      background-color: #388e3c;-->
  <!--      color: white;-->
  <!--      border-radius: var(&#45;&#45;border-radius-md);-->
  <!--      border: none;-->
  <!--      padding: 10px;-->
  <!--      cursor: pointer;-->
  <!--    "-->
  <!--    >-->
  <!--      Invite-->
  <!--    </button>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #attachmentListTemplate-->
  <!--    let-messageId="messageId"-->
  <!--    let-attachments="attachments"-->
  <!--  >-->
  <!--  <span-->
  <!--    style="-->
  <!--      color: #7cb342;-->
  <!--      position: absolute;-->
  <!--      left: 50%;-->
  <!--      top: 50%;-->
  <!--      transform: translate(-50%, 0);-->
  <!--      padding: 8px;-->
  <!--      background-color: rgba(0, 0, 0, 0.6);-->
  <!--    "-->
  <!--  >Custom attachments</span-->
  <!--  >-->
  <!--    <stream-attachment-list-->
  <!--      [messageId]="messageId"-->
  <!--      [attachments]="attachments"-->
  <!--    ></stream-attachment-list>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #attachmentPreviewListTemplate-->
  <!--    let-attachmentUploads$="attachmentUploads$"-->
  <!--    let-retryUploadHandler="retryUploadHandler"-->
  <!--    let-deleteUploadHandler="deleteUploadHandler"-->
  <!--  >-->
  <!--    <stream-attachment-preview-list-->
  <!--      style="-->
  <!--      border-radius: var(&#45;&#45;border-radius-md);-->
  <!--      background-color: rgba(241, 248, 233, 0.4);-->
  <!--    "-->
  <!--      [attachmentUploads$]="attachmentUploads$"-->
  <!--      (retryAttachmentUpload)="retryUploadHandler($event)"-->
  <!--      (deleteAttachment)="deleteUploadHandler($event)"-->
  <!--      class="rfu-image-previewer-angular-host"-->
  <!--    ></stream-attachment-preview-list>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #avatarTemplate-->
  <!--    let-name="name"-->
  <!--    let-imageUrl="imageUrl"-->
  <!--    let-size="size"-->
  <!--  >-->
  <!--    <stream-avatar-->
  <!--      style="&#45;&#45;primary-color: #8bc34a"-->
  <!--      [name]="name"-->
  <!--      [imageUrl]="imageUrl"-->
  <!--      [size]="size"-->
  <!--    ></stream-avatar>-->
  <!--  </ng-template>-->

  <!--  <ng-template #iconTemplate let-icon="icon" let-size="size">-->
  <!--    <app-icon [icon]="icon" [size]="size"></app-icon>-->
  <!--  </ng-template>-->

  <!--  <ng-template #loadingIndicatorTemplate let-size="size" let-color="color">-->
  <!--    <stream-loading-indicator-->
  <!--      [size]="size"-->
  <!--      color="#F1F8E9"-->
  <!--    ></stream-loading-indicator>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #messageActionsBoxTemplate-->
  <!--    let-isOpen="isOpen"-->
  <!--    let-isMine="isMine"-->
  <!--    let-enabledActions="enabledActions"-->
  <!--    let-messageInput="message"-->
  <!--    let-displayedActionsCountChaneHanler="displayedActionsCountChaneHanler"-->
  <!--    let-isEditingChangeHandler="isEditingChangeHandler"-->
  <!--  >-->
  <!--    <stream-message-actions-box-->
  <!--      style="&#45;&#45;primary-color: #33691e"-->
  <!--      [isOpen]="isOpen"-->
  <!--      [isMine]="isMine"-->
  <!--      [enabledActions]="enabledActions"-->
  <!--      [message]="messageInput"-->
  <!--      (displayedActionsCount)="displayedActionsCountChaneHanler($event)"-->
  <!--      (isEditing)="isEditingChangeHandler($event)"-->
  <!--    ></stream-message-actions-box-->
  <!--    ></ng-template>-->

  <!--  <ng-template-->
  <!--    #messageActionItemTemplate-->
  <!--    let-actionName="actionName"-->
  <!--    let-actionHandler="actionHandler"-->
  <!--    let-actionLabelOrTranslationKey="actionLabelOrTranslationKey"-->
  <!--  >-->
  <!--    <app-message-action-->
  <!--      [actionName]="actionName"-->
  <!--      [actionHandler]="actionHandler"-->
  <!--      [actionLabelOrTranslationKey]="actionLabelOrTranslationKey"-->
  <!--    ></app-message-action>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #messageReactionsTemplate-->
  <!--    let-messageReactionCounts="messageReactionCounts"-->
  <!--    let-latestReactions="latestReactions"-->
  <!--    let-isSelectorOpen="isSelectorOpen"-->
  <!--    let-isSelectorOpenChangeHandler="isSelectorOpenChangeHandler"-->
  <!--    let-messageId="messageId"-->
  <!--    let-ownReactions="ownReactions"-->
  <!--  >-->
  <!--    <stream-message-reactions-->
  <!--      style="&#45;&#45;black: rgba(51, 105, 30, 0.8)"-->
  <!--      [messageReactionCounts]="messageReactionCounts"-->
  <!--      [latestReactions]="latestReactions"-->
  <!--      [isSelectorOpen]="isSelectorOpen"-->
  <!--      (isSelectorOpenChange)="isSelectorOpenChangeHandler($event)"-->
  <!--      [messageId]="messageId"-->
  <!--      [ownReactions]="ownReactions"-->
  <!--    ></stream-message-reactions>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #modalTemplate-->
  <!--    let-isOpen="isOpen"-->
  <!--    let-isOpenChangeHandler="isOpenChangeHandler"-->
  <!--    let-content="content"-->
  <!--  >-->
  <!--    <stream-modal-->
  <!--      style="&#45;&#45;white: #f1f8e9"-->
  <!--      [isOpen]="isOpen"-->
  <!--      (isOpenChange)="isOpenChangeHandler($event)"-->
  <!--      [content]="content"-->
  <!--    >-->
  <!--    </stream-modal>-->
  <!--  </ng-template>-->

  <!--  <ng-template #notificationTemplate let-type="type" let-content="content">-->
  <!--    <div-->
  <!--      class="str-chat__custom-notification"-->
  <!--      style="background-color: #f1f8e9; color: #2e7d32"-->
  <!--    >-->
  <!--      {{ type | uppercase }}-->
  <!--      <ng-container *ngTemplateOutlet="content"></ng-container>-->
  <!--    </div>-->
  <!--  </ng-template>-->

  <!--  <ng-template-->
  <!--    #threadHeaderTemplate-->
  <!--    let-parentMessage="parentMessage"-->
  <!--    let-closeThreadHandler="closeThreadHandler"-->
  <!--  >-->
  <!--    <app-thread-header-->
  <!--      [parentMessage]="parentMessage"-->
  <!--      (closeThread)="closeThreadHandler()"-->
  <!--    ></app-thread-header>-->
  <!--  </ng-template>-->

</div>
