@charset "utf-8";


/* 청첩장 레이어팝업 */
.pop_invitation .close span ,
.photo_slider .swiper-btn button span,
.tab_invitation .btn_menu span {position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0 none;overflow:hidden;clip:rect(0, 0, 0, 0);}
.pop_invitation a,
.pop_invitation button {-webkit-transition:all .2s;transition:all .2s;}

.pop_invitation {visibility:hidden;overflow:hidden;/* opacity:0; */position:fixed;top:0;right:-100%;width:100%;height:100%;background-color:#fff;-webkit-transition:all .4s;transition:all .4s;z-index:1001;}
.pop_invitation::before {content:'';position:fixed;width:100%;height:100%;left:0;top:0;opacity:0;background-color:rgba(33,34,36,0.5);z-index:-1;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.pop_invitation.open {visibility:visible;overflow:visible;/* opacity:1; */right:0;z-index:1000;}
.pop_invitation.open::before {opacity:1;}
.pop_invitation h2 {position:absolute;left:96px;top:94px;font-size:30px;color:#fff;letter-spacing:0em;font-weight:300;z-index:2;}
.pop_invitation h2 span {font-weight:700;}
.pop_invitation .close {position:absolute;right:30px;top:30px;width:44px;height:44px;z-index:2;overflow:hidden;background:url(../../../../assets/public/public_ext_basic/images/invitation/btn_close.png) center center no-repeat;}
.pop_invitation .close:hover {-webkit-transform:rotate(180deg);transform:rotate(180deg);}
.pop_invitation .pop_invitation_wrap {position:relative;width:100%;height:100%;background-color:#fff;z-index:1;}

/* photo_slider */
.pop_invitation .photo_slider {position:relative;float:left;/* width:1184px; */width:62%;height:100%;}
.pop_invitation .photo_slider::before {content:'';position:absolute;left:0;top:0;width:100%;height:239px;background:linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);z-index:2;}
.photo_slider .swiper-container,
.photo_slider .swiper-slide {width:100%;height:100% !important;}
.photo_slider .swiper-wrapper {height:100% !important;}
.photo_slider a {display:block;width:100%;height:100%;background-position:center center;background-repeat:no-repeat;background-size:cover;}
.photo_slider a img {display:none;}
.photo_slider .swiper-btn {position:absolute;right:12px;bottom:0;z-index:2;}
.photo_slider .swiper-btn button {float:left;width:56px;height:56px;font-size:30px;color:#fff;border:0 none;background-color:rgba(0,0,0,.3);background-repeat:no-repeat;}
.photo_slider .swiper-btn button + button {margin-left:12px;}
.photo_slider .swiper-btn .swiper-prev {background-image:url(../../../../assets/public/public_ext_basic/images/invitation/arrow_prev.png);background-position:13px 18px;}
.photo_slider .swiper-btn .swiper-next {background-image:url(../../../../assets/public/public_ext_basic/images/invitation/arrow_next.png);background-position:13px 18px;}

/* tab_invitation */
.tab_invitation {position:absolute;left:276px;top:90px;z-index:2;}
.tab_invitation .btn_menu {display:none;}
.tab_invitation .tab_list li {float:left;font-size:20px;font-weight:700;}
.tab_invitation .tab_list li button {color:#fff;width:auto;height:auto;padding:10px 20px;}
.tab_invitation .tab_list li button:hover,
.tab_invitation .tab_list .active button {color:#ff5858;}

/* con_invitation */
.con_invitation {position:relative;float:right;/* width:calc(100% - 1184px);overflow:hidden; */width:38%;height:100%;background:#fff;z-index:2;}
.con_invitation h3 {position:absolute;left:-200px;top:72px;width:400px;height:61px;padding-left:200px;background:rgba(255, 157, 157, 0.3);z-index:3;}
.con_invitation h3 span {width:100%;height:100%;font-size:24px;font-weight:400;color:#000;display:flex;flex-direction:row;justify-content:center;align-items:center;}
.con_invitation h4 {position:relative;text-align:center;font-family:'Caveat',sans-serif;font-weight:400;color:#232323;font-size:64px;letter-spacing:-.8px;z-index:2;}
.con_invitation .tab_cont {/* visibility:hidden;overflow:hidden; */scrollbar-color:#b3b3b3 transparent;}
.con_invitation .tab_cont::-webkit-scrollbar {position:absolute;top:0;right:0;width:4px;margin-right:7px;} /* 스크롤바의 너비 */
.con_invitation .tab_cont::-webkit-scrollbar-thumb {background-color:#b3b3b3;;} /* 스크롤바의 색상 */
.con_invitation .tab_cont::-webkit-scrollbar-track {background-color:#f8f8f8;;margin-right:12px} /* 스크롤바 트랙 색상 */
.con_invitation .tab_cont.active {/* visibility:visible;overflow:visible; */overflow-x:hidden;overflow-y:auto;}
.con_invitation .tab_cont_wrap {padding:157px 0 76px;}
.con_invitation .form {position:relative;width:100%;padding-right:104px;height:40px;}
.con_invitation .form .item {width:100%;height:100%;margin-top:0;}
.con_invitation .form input {width:100%;height:100%;padding:0 15px;border-radius:0;border:1px solid #cacaca;font-size:16px;color:#a6a6a6;font-weight:400;}
.con_invitation .form .btn {position:absolute;right:0;top:0;width:96px;}
.con_invitation .form .btn button {display:block;width:100%;height:100%;border:0 none;font-size:16px;font-weight:400;background:#686868;color:#fff;}
.con_invitation .form .btn button:hover {background-color:#000;}
/* placeholder 포커스시 감추기 */
.con_invitation .form input::-webkit-input-placeholder {color:#a6a6a6;} /* WebKit browsers */
.con_invitation .form input:-moz-placeholder {color:#a6a6a6; } /* Mozilla Firefox 4 to 18 */
.con_invitation .form input::-moz-placeholder {color:#a6a6a6;} /* Mozilla Firefox 19+ */
.con_invitation .form input:-ms-input-placeholder {color:#a6a6a6;} /* Internet Explorer 10+ */

/* greeting_group */
.greeting_group {width:calc(100% - 188px);margin-left:93px;text-align:center;line-height:1.45;font-size:16px;font-weight:400;color:#232323;}
.greeting_group::before {content:'';position:absolute;right:37px;top:261px;width:102px;height:124px;background:url(../../../../assets/public/public_ext_basic/images/invitation/img_flower_1.png) center center no-repeat;}
.greeting_group::after {content:'';position:absolute;left:69px;bottom:22px;width:153px;height:118px;background:url(../../../../assets/public/public_ext_basic/images/invitation/img_flower_2.png) center center no-repeat;}
.greeting_group .g_name {margin:28px 0 38px;}
.greeting_group .g_location {margin-top:53px;padding-top:42px;border-top:6px solid #efefef;}
.greeting_group .g_location .dday {color:#ff5858;font-weight:700;font-size:28px;}
.greeting_group .g_location .dday span + span {margin-left:8px;}
.greeting_group .g_location .info {font-size:20px;margin:11px 0 35px;}
.greeting_group .g_location .info span {display:block;}
.greeting_group .g_location .btn {display:inline-block;color:#000;padding:15px 31px;border:1px solid #cacaca;}
.greeting_group .g_location .btn span {position:relative;padding-right:41px;}
.greeting_group .g_location .btn span::before {content:'';position:absolute;right:0;top:50%;margin-top:-8px;width:24px;height:17px;background:url(../../../../assets/public/public_ext_basic/images/invitation/icon_letter.png) center center no-repeat;}
.greeting_group .g_location .btn:hover span::before {animation: shake 0.5s ease-in;}
@keyframes shake {
  10%, 50%, 90% {transform:translateX(-2px);}
  30%, 70% {transform:translateX(0);}
}

/* message_group */
.message_group {width:calc(100% - 236px);margin-left:118px;}
.message_group::before {content:'';position:absolute;right:0;top:147px;width:191px;height:179px;background:url(../../../../assets/public/public_ext_basic/images/invitation/img_pen.png) center center no-repeat;z-index:2;}
.message_group .form {margin-top:91px;}
.message_group .list {position:relative;padding-top:15px;}
.message_group .msg {clear:both;position:relative;display:flex;align-items:center;margin-top:15px;min-height:40px;font-size:14px;font-weight:400;padding:0 80px 0 130px;}
.message_group .msg::after {content:'';clear:both;display:block;}
.message_group .msg .msg_name {position:absolute;left:0;top:0;color:#000;}
.message_group .msg .msg_name span {display:inline-block;vertical-align:middle;}
.message_group .msg .msg_name .img {position:relative;margin-right:10px;width:40px;height:40px;border-radius:50%;overflow:hidden;background-color:#c4c4c4;}
.message_group .msg .msg_name .img img {position:absolute;left:50%;top:50%;width:100%;transform:translate(-50%,-50%);}
.message_group .msg .msg_name .txt {width:85px;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.message_group .msg .msg_txt {width:100%;color:#474747;}
.message_group .msg .mag_date {position:absolute;right:0;font-size:12px;color:#969696;letter-spacing:0;}
.message_group .scroll {position:absolute;left:50%;bottom:30px;display:none;width:80px;height:80px;margin-left:-40px;border-radius:50%;background:rgba(255,255,255,.7);}
.message_group .scroll span {display:inline-block;width:80px;height:80px;font-size:0;background:url(../../../../assets/public/public_ext_basic/images/invitation/icon_scroll.png) center center no-repeat;webkit-animation:shake_up 5s infinite;animation:shake_up 5s infinite;}
.message_group.scroll_active .scroll {/* display:block; */}
@keyframes shake_up {
  10%, 30%, 50%, 70%, 90% {transform: translateY(-5px);}
  20%, 40%, 60%, 80% {transform: translateY(0);}
}

/* gift_group */
.gift_group {width:calc(100% - 190px);margin-left:95px;padding-top:16px;}
.gift_group::before {content:'';position:absolute;right:0;top:96px;width:206px;height:235px;background:url(../../../../assets/public/public_ext_basic/images/invitation/img_leaf.png) center center no-repeat;z-index:2;}
.gift_group .item {margin-top:53px;}
.gift_group h5 {font-size:16px;margin-bottom:24px;}
.gift_group .form_box {background-color:#f8f8f8;padding:33px 60px;text-align:center;overflow:hidden;}
.gift_group .form_box_check {}
.gift_group .form_radio {width:calc(50% - 6px);}
.gift_group .form_radio {display:inline-block;float:left;position:relative;z-index:0;margin-right:12px;vertical-align:top;}
.gift_group .form_radio input {position:absolute;left:0;top:0;opacity:0;}
.gift_group .form_radio label {cursor:pointer;display:block;width:100%;height:40px;font-size:16px;color:#474747;padding-top:10px;font-weight:400 !important;}
.gift_group .form_radio label::before {position:absolute;left:0;top:0;z-index:-2;width:100%;height:100%;border:3px solid #cacaca;background-color:#fff;content:'';-webkit-transition:all .2s;transition:all .2s;}
.gift_group .form_radio input:checked + label::before {border-color:#ec4a3f;}
.gift_group .form_radio input:checked + label span {position:relative;padding-right:30px;}
.gift_group .form_radio input:checked + label span::after {content:'';position:absolute;right:0;top:6px;width:20px;height:16px;background:url(../../../../assets/public/public_ext_basic/images/invitation/icon_check.png) center center no-repeat;}
.gift_group .form_radio:last-child {margin-right:0;}
/* .gift_group .form_radio input:focus + label::before {outline:1px dotted #000;} */
.gift_group .btn_reset {float:right;margin:-31px 1px 0 0;font-size:12px;letter-spacing:0;color:#232323;padding-left:17px;background:url(../../../../assets/public/public_ext_basic/images/invitation/icon_reset.png) left 1px no-repeat;}
.gift_group .form_box_input {text-align:left;padding:31px 68px 46px;}
.gift_group .result {text-align:center;letter-spacing:0;margin-bottom:29px;}
.gift_group .result .txt {font-size:12px;color:#474747;}
.gift_group .result .num {color:#000;font-size:16px;font-weight:400;margin-top:6px;}
.gift_group .result .num em {font-size:24px;font-weight:700;margin-right:6px;}
.gift_group .btn_price {width:100%;font-size:0;margin-bottom:8px;}
.gift_group .btn_price button {width:calc(25% - 6px);font-size:14px;font-weight:400;color:#000;height:32px;line-height:30px;border:1px solid #ccc;background:#fff;}
.gift_group .btn_price button + button {margin-left:8px;}
.con_invitation .gift_group .form {padding:0;}
.con_invitation .gift_group .form .item {float:left;width:calc(75% - 2px);}
.con_invitation .gift_group .form .item.btn {position:static;right:auto;top:auto;width:calc(25% - 6px);margin-left:8px;}
.con_invitation .gift_group .form input {font-size:14px;}
.gift_group .unit {color:#474747;margin-top:7px;font-size:12px;font-weight:400;}
.gift_group .btn_send {width:176px;margin:33px auto 0;}
.gift_group .btn_send button {width:100%;height:100%;height:48px;line-height:48px;background:#2f2f2f;font-size:16px;font-weight:400;color:#fff;}
.gift_group .btn_send button:hover {background-color:#000;}

/* location_group */
.location_group {width:calc(100% - 190px);margin-top:79px;margin-left:95px;text-align:center;line-height:1.45;font-size:16px;color:#232323;}
.location_group::before {content:'';position:absolute;right:0;top:96px;width:190px;height:255px;background:url(../../../../assets/public/public_ext_basic/images/invitation/img_flower_3.png) center center no-repeat;/*z-index:2;*/}
.map_area {position:relative;z-index:1;}
.tab_location {width:100%;}
.tab_location ul {display:table;width:100%;text-align:center;table-layout:fixed;}
.tab_location ul li {display:table-cell;}
.tab_location ul li button {position:relative;display:block;width:100%;height:auto;font-weight:400;font-size:24px;color:#000;padding-bottom:14px;}
.tab_location ul li button::before {content:'';position:absolute;left:50%;bottom:0;width:0;height:3px;opacity:0;background-color:rgba(255, 56, 56, 0.3);-webkit-transition:all .2s;transition:all .2s;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.tab_location ul li button:hover::before,
.tab_location ul .active button::before {width:106px;opacity:1;}
.con_location {margin-top:20px;}
.tab_location_cont {position:relative;visibility:hidden;overflow:hidden;height:0;opacity:0;}
.tab_location_cont.active {visibility:visible;overflow:visible;height:auto;opacity:1;}
.tab_location_cont .map_area .root_daum_roughmap_landing {width:100% !important;}
.tab_location_cont .map_area .root_daum_roughmap .wrap_controllers {display:none;}
.tab_location_cont .map_area .root_daum_roughmap .map_border {display:none;}
.tab_location_cont .place {position:relative;font-size:24px;color:#000;font-weight:400;margin-top:70px;padding-bottom:27px;}
.tab_location_cont .place::before {content:'';position:absolute;left:50%;bottom:0;width:164px;height:4px;background-color:#aeaeae;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.way_info {text-align:left;padding:43px 45px 0;}
.way_info .item {position:relative;font-size:16px;}
.way_info .item + .item {margin-top:46px;}
.way_info .item h6 {padding-left:34px;color:#232323;font-weight:700;line-height:2;}
.way_info .item span {padding-left:33px;display:block;color:#474747;line-height:2;font-weight:400;}
.way_info .address h6 {background:url(../../../../assets/public/public_ext_basic/images/invitation/icon_address.png) 5px 4px no-repeat;}
.way_info .public h6 {background:url(../../../../assets/public/public_ext_basic/images/invitation/icon_public.png) 2px 3px no-repeat;}
.way_info .etc h6 {background:url(../../../../assets/public/public_ext_basic/images/invitation/icon_etc.png) left 5px no-repeat;}
#login_pop {background-color:rgba(33,34,36,0.5);-webkit-transition: all 0.4s;transition: all 0.4s;}

/* wedding_pop */
.wedding_pop {position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  -webkit-box-pack:center;-moz-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;
  -webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-justify-content:center;align-items:center;
  -webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0);}
.wedding_pop.open {visibility:visible;overflow:visible;opacity:1;z-index:1000;}
.wedding_pop.popuplayer .popuplayer_area {border-radius:10px;margin:0 20px;}
.wedding_pop.popuplayer .popuplayer_area a {display:block}
.wedding_pop.popuplayer .next_view {padding:0}
.wedding_pop.popuplayer .next_view .linkArea.linkHalf {position:relative;}
.wedding_pop.popuplayer .next_view .linkArea.linkHalf::after {content:"";position:absolute;left:50%;top:0;width:1px;height:100%;background:rgba(255,255,255,0.3)}
.wedding_pop.popuplayer .next_view .linkArea a,
.wedding_pop.popuplayer .next_view .linkArea button {width:50% !important;padding:16px 0 17px;margin-right:0;font-size:15px;font-weight:400;color:#fff;background:#2c2929;border-radius:0;border:0 none}


/* 반응형 - media qurey 시작 */
/* 넓이가 1599px 이하일 때*/
@media all and (max-width:1599px){

  .pop_invitation h2 {left:66px;top:64px;}
  .pop_invitation .photo_slider {width:60%;}
  .tab_invitation {left:220px;top:60px;}
  .tab_invitation .tab_list li button {padding:10px 15px;}
  .con_invitation {width:40%;}
  .con_invitation h3 {left:-61px;top:52px;padding-left:61px;width:261px;height:48px;}
  .con_invitation h3 span {font-size:20px;}
  .con_invitation h4 {font-size:48px;}
  .con_invitation .tab_cont_wrap {padding:147px 0 60px;}
  .con_invitation .form input,
  .con_invitation .form .btn button {font-size:14px;}
  .greeting_group,
  .message_group,
  .gift_group,
  .location_group {width:calc(100% - 100px);margin-left:50px;}
  .greeting_group {position:static;}
  .greeting_group::before {right:0;top:230px;}
  .greeting_group::after {left:0;bottom:0px;background-position:-30px center;}
  .message_group .msg {display:block;padding:52px 0 26px 48px;border-bottom:1px solid #bebebe;}
  .message_group .msg .msg_name {position:absolute;left:0;top:9px;padding:9px 0 0 48px;overflow:hidden;height:40px;}
  .message_group .msg .msg_name span {vertical-align:top;}
  .message_group .msg .msg_name .img {position:absolute;left:0;top:0;margin-right:0;}
  .message_group .msg .msg_name .txt {width:auto;letter-spacing:0;}
  .message_group .msg .msg_txt {letter-spacing:0;line-height:1.4;}
  .message_group .msg .mag_date {top:20px;}

}


/* 넓이가 1199px 이하일 때*/
@media all and (max-width:1199px){

  .pop_invitation h2 {font-size:24px;left:36px;top:34px;}
  .tab_invitation {top:28px;left:160px;}
  .tab_invitation .tab_list li {font-size:18px;}
  .pop_invitation .close {right:15px;top:15px;background-color:rgba(255,255,255,.5);}
  .pop_invitation .photo_slider {width:calc(100% - 400px);}
  .photo_slider .swiper-btn {right:0;}
  .photo_slider .swiper-btn button + button {margin-left:4px;}
  .con_invitation {width:400px;}
  .con_invitation h3 {position:static;left:auto;top:auto;padding-left:0;width:200px;margin:0 auto;}
  .con_invitation h4 {margin-top:36px;}
  .con_invitation .tab_cont_wrap {padding:60px 0 40px;}
  .greeting_group,
  .message_group,
  .gift_group,
  .location_group {position:relative;width:calc(100% - 80px);margin-left:40px;}
  .greeting_group .g_location .info {font-size:14px;margin:15px 0 40px;}
  .greeting_group .g_location .info span {letter-spacing:0;}
  .greeting_group .g_location .info span + span {padding-top:8px;}
  .greeting_group::before {right:-20px;top:-10px;}
  .greeting_group::after {left:-40px;background-position:-41px center;}
  .message_group::before {right:-108px;top:-116px;}
  .message_group .form {margin-top:31px;}
  .gift_group {padding-top:0;}
  .gift_group::before {right:-146px;top:-106px;background-size:158px auto;background-position:left top;}
  .gift_group h5 {margin-bottom:18px;}
  .gift_group .item {margin-top:40px;}
  .gift_group .form_box {padding:20px 30px;}
  .gift_group .form_radio label {font-size:14px;padding-top:13px;}
  .gift_group .form_radio input:checked + label span {padding-right:25px;}
  .gift_group .form_radio input:checked + label span::after {top:2px;}
  .gift_group .result {margin-bottom:20px;}
  .gift_group .btn_price {margin-bottom:4px;}
  .gift_group .btn_price button {width:calc(25% - 3px);}
  .gift_group .btn_price button + button {margin-left:4px;}
  .con_invitation .gift_group .form .item {width:calc(75% - 1px);}
  .con_invitation .gift_group .form .item.btn {margin-left:4px;width:calc(25% - 3px);}
  .location_group {margin-top:35px;}
  .location_group::before {right:-55px;top:-154px;background-size:145px auto;background-position:right top;}
  .tab_location ul li button {font-size:18px;}
  .tab_location_cont .root_daum_roughmap .wrap_map {height:300px !important;}
  .tab_location_cont .place {margin-top:30px;font-size:18px;padding-bottom:18px;}
  .way_info {padding:30px 0 0;}
  .way_info .item + .item {margin-top:20px;}
  .way_info .item span {line-height:1.45;}

}

/* 넓이가 1024px 이하일 때*/
@media all and (max-width:1024px){

  .pop_invitation.menu_open .pop_invitation_wrap {position:static;}
  .pop_invitation.menu_open .con_invitation {z-index:inherit;}
  .menu_open .tab_invitation {position:fixed;left:0;top:0;width:100%;height:100%;z-index:99;}
  .menu_open .tab_invitation .mask {display:block;}
  .menu_open .tab_invitation .tab_list {bottom:0;}
  .tab_invitation {position:static;left:auto;top:auto;z-index:99;}
  .tab_invitation .btn_menu {position:absolute;right:38px;bottom:38px;display:block;color:#fff;font-size:25px;width:82px;height:82px;background:#f4847d;border-radius:50%;-webkit-box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);z-index:3;}
  .tab_invitation .tab_list {position:fixed;left:0;bottom:-100%;width:100%;padding:32px 0 33px;background:#f4847d;z-index:4;webkit-transition:all .4s;transition:all .4s;}
  .tab_invitation .tab_list::after {content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:#f4847d;z-index:-1;}
  .tab_invitation .tab_list li {width:25%;text-align:center;font-size:16px;}
  .tab_invitation .tab_list li button {width:100%;padding:20px 25px;}
  .tab_invitation .tab_list li button:hover,
  .tab_invitation .tab_list .active button {color:#fff;}
  .tab_invitation .tab_list li span {position:relative;padding-left:41px;}
  .tab_invitation .tab_list li span::before {content:'';position:absolute;left:0;top:0;background-position:center center;background-repeat:no-repeat;}
  .tab_invitation .tab_list .menu_greeting span::before {top:2px;width:26px;height:21px;background-image:url(../../../../assets/public/public_ext_basic/images/invitation/icon_greeting.png);}
  .tab_invitation .tab_list .menu_message span::before {width:26px;height:25px;background-image:url(../../../../assets/public/public_ext_basic/images/invitation/icon_message.png);}
  .tab_invitation .tab_list .menu_gift span::before {top:-1px;width:27px;height:27px;background-image:url(../../../../assets/public/public_ext_basic/images/invitation/icon_gift.png);}
  .tab_invitation .tab_list .menu_location span::before {left:3px;top:-2px;width:20px;height:29px;background-image:url(../../../../assets/public/public_ext_basic/images/invitation/icon_location.png);}
  .tab_location ul li button,
  .tab_location_cont .place {font-size:16px;}
  .tab_location ul li button:hover::before,
  .tab_location ul .active button::before {width:80px;}

}


/* 넓이가 768px 이하일 때*/
@media all and (max-width:768px){

  .pop_invitation.open {padding-top:92px;overflow-y:auto;}
  .pop_invitation {/* visibility:hidden;overflow:hidden; */scrollbar-color:#b3b3b3 transparent;}
  .pop_invitation::-webkit-scrollbar {position:absolute;top:0;right:0;width:4px;margin-right:7px;} /* 스크롤바의 너비 */
  .pop_invitation::-webkit-scrollbar-thumb {background-color:#b3b3b3;;} /* 스크롤바의 색상 */
  .pop_invitation::-webkit-scrollbar-track {background-color:#f8f8f8;;margin-right:12px} /* 스크롤바 트랙 색상 */
  .pop_invitation .pop_invitation_wrap {height:auto;}
  .pop_invitation h2 {left:0;top:0;/*position:relative;left:auto;top:auto;*/width:100%;padding:38px 0 34px;text-align:center;background-color:#fff;color:#232323;/*-webkit-box-shadow:0px 4px 20px rgba(0, 0, 0, 0.25);box-shadow:0px 4px 20px rgba(0, 0, 0, 0.1);*/}
  .pop_invitation .close {position:absolute;top:25px;right:18px;background-size:20px auto;}
  .pop_invitation.open h2,
  .pop_invitation.open .close,
  .pop_invitation.open .btn_menu {position:fixed;}
  .pop_invitation .photo_slider {width:100%;height:auto;float:none;}
  .pop_invitation .photo_slider::before {display:none;}
  .photo_slider a {background:none !important;}
  .photo_slider a img {display:block;}
  .photo_slider .swiper-btn {display:none;}
  .tab_invitation .tab_list {padding:26px 0 27px;}
  .tab_invitation .tab_list li {float:none;width:100%;}
  .tab_invitation .tab_list li button {text-align:left;padding:18px 36px;}
  .con_invitation {width:auto;height:auto;}
  .con_invitation h3 span {font-size:16px;}
  .con_invitation .tab_cont {position:relative;}
  .con_invitation .tab_cont.active {height:auto;overflow:hidden;}
  .greeting_group::before {right:-20px;top:-210px;}
  .greeting_group::after {bottom:auto;top:-7px}
  .message_group::before {top:-204px;}
  .gift_group::before {top:-172px;}
  .location_group::before {top:-264px;}
  .message_group.scroll_active .scroll {display:none;}

}

/* 넓이가 500px 이하일 때*/
@media all and (max-width:500px){

  .tab_invitation .btn_menu {right:20px;bottom:20px;width:72px;height:72px;}
  .gift_group .btn_price {margin-bottom:0;}
  .gift_group .btn_price button {width:calc(50% - 2px);margin-bottom:4px;}
  .gift_group .btn_price button:nth-child(3) {margin-left:0;}
  .location_group {margin-top:25px;}
  .con_location {margin-top:10px;}
  .tab_location_cont .place {padding-bottom:10px;margin-top:20px;}
  .tab_location_cont .place::before {height:2px;}
  .way_info {padding-top:25px;}
  .way_info .item h6 {padding-left:28px;margin-bottom:5px;}
  .way_info .address h6 {background-position:left 4px;}
  .way_info .item span {padding-left:0;font-size:14px;}
  .greeting_group .g_location {padding-top:30px;}
  .greeting_group .g_location .dday {font-size:24px;line-height:1.3;}
  .greeting_group .g_location .dday em {display:block;}
  .greeting_group .g_location .btn {width:100%;padding-left:0;padding-right:0;}
  .greeting_group .g_location .btn span {padding-right:35px;}
  .message_group .form {padding-right:0;height:auto;}
  .message_group .form .item {display:block;height:40px !important;}
  .message_group .form .item.btn {position:static;right:auto;top:auto;margin:24px auto 0;}


}
