<!-- onclick="layerClickOpenM('basics_pop');" -->
<div id="move_room" class="basics_pop popuplayer"><!-- 활성화시 open -->
  <div class="popuplayer_area">
    <div class="tit">
      <button type="button" class="close ri-close-line" onclick="layerClickCloseM('basics_pop');">닫기</button>
    </div>
    <!-- popuplayer_group -->
    <div class="popuplayer_group">
      <div class="finish_box">
        <p class="finish_txt"><strong><em>나야나</em>님이 있는 룸으로<br> 이동합니다.</strong></p>
        <p class="finish_txt"><strong>취소/확인 <em class="blue">기본 팝업</em></strong> 입니다.</p>
      </div>
    </div>
    <!-- //popuplayer_group -->
    <div class="next_view">
      <div class="linkArea linkHalf">
        <button type="button" class="" (click)="onCancle()">취소</button>
        <button type="button" class="" (click)="onAccept()">확인</button>
      </div>
    </div><!-- //next_view -->
  </div>
</div>
